.TaskBar{
  width: 100%;
  height: 90px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--primary);
  @media(max-width: 650px){
    height: 52px;
    border-radius: 10px;
  }
  &_input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--default);
    font-size: 24px;
    font-weight: 300;
    @media(max-width: 650px){
      font-size: 14px;
    }
    &::placeholder{
      color: #A4A4A4;
      font-weight: 400;
      font-size: 24px;
      font-weight: 300;
      font-style: italic;
      @media(max-width: 650px){
        font-size: 14px;
      }
    }
  }
}